@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }

.loader {
  height: 18px;
  width: 19px;
  text-align: center;
  -webkit-animation: rotate 1s linear infinite;
  -moz-animation: rotate 1s linear infinite; }
