/*

Defines modal styles.

*/
/*.modal-overlay {
	background: rgba(0,0,0,.5);
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}*/
.modal {
  visibility: hidden;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -370px;
  width: 740px;
  z-index: 2; }
.modal .close-modal-x {
  color: #333333;
  font-family: 'Pictos';
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none; }
.modal header .close-modal-x {
  top: 20px;
  right: 20px; }

.modal-modal {
  left: 50%;
  margin-left: -320px;
  position: absolute;
  top: 120px;
  width: 640px;
  z-index: 3; }
.modal-modal .close-modal-modal-x {
  color: #333333;
  font-family: 'Pictos';
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none; }
.modal-modal header .close-modal-modal-x {
  top: 20px;
  right: 20px; }
