/*

Defines some basic typography styles.

*/
h1 {
  font-size: 24px;
  margin-bottom: 10px; }

h2 {
  font-size: 20px;
  margin-bottom: 10px; }

h3 {
  font-size: 16px;
  margin-bottom: 10px; }

h4 {
  font-size: 14px;
  margin-bottom: 10px; }

p, .p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px; }
p:last-child, .p:last-child {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 20px; }
ul:last-child, ol:last-child {
  margin-bottom: 0; }

ol {
  margin-left: 20px; }

ul.disc {
  list-style-type: disc;
  margin-left: 20px; }

ul.circle {
  list-style-type: circle;
  margin-left: 20px; }

ul.square {
  list-style-type: square;
  margin-left: 20px; }

li {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px; }
li:last-child {
  margin-bottom: 0; }

a {
  color: #333333; }

big {
  font-size: 24px; }
