/*

This is the stylesheet that is used for our documenting our styles.
It includes all the prototpye styles and adds some extra styles specifically for the style guide.

*/

// Include dependencies
@import "variables";
@import "mixins";

// Include the prototype styles
@import "prototype";

body {
  font-family: 'Open Sans';
  padding: 40px 0;
}

/*h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
p, .p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}*/

code.box {
  background: #F0FAFF;
  border: 1px solid rgba(0,0,0,0.1);
  display: block;
  padding: 20px;
}

#style-guide section {
  margin: 40px 0;
}

// Style guide specific styles
header {
  border-bottom: $defaultBorderSize solid $defaultDarkColor;
  margin-bottom: 60px;
  padding: 10px 0 60px;
  text-align: center;

  h1 {
    font-size: 125px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
  }
}