// Include dependencies
@import "variables";
@import "mixins";

.container {
  @include clearfix;
  margin: 0 auto;
  width: $siteWidth;
}

section {
	margin-bottom: 40px;
	
	&:last-child {
		margin-bottom: 0;
	}
}