// Colors
$defaultLightColor:   #fff;
$defaultDarkColor:    #333;

// Borders
$defaultBorderSize: 3px;

// Margins & Padding
$defaultBottomMargin: 20px;
$defaultPadding: 20px;

// Typography
$defaultFontFamily: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;